<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Product Manager</title>
</head>
<body>
	<div align="center">
		<h1>Product List</h1>
		<a href="/new">Create New Product</a> <br />
		<br />
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>City Name</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="city : ${listCities}">
					<td th:text="${city.cityName}">City Name</td>
					<!-- <td><a th:href="/@{'/edit/' + ${product.id}}">Edit</a>
						&nbsp;&nbsp;&nbsp; <a th:href="/@{'/delete/' + ${product.Fid}}">Delete</a>  
					</td> -->
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>